// variables
$orange-custom:rgb(196, 115, 10);
$border-orange:rgb(196, 115, 10);
$dark-blue:rgb(23, 37, 69);
$link-hover:rgb(242, 235, 229);
$label-blue: #3a7bcb;
$green-custom: rgb(0, 128, 90);
$link-blue: rgb(57, 88, 138);

$bg-color: #3f3333;
$primary-accent: #c48403d1;
$card-shadow: 0 12px 40px rgba(0,0,0,0.08);
$text-dark: #2c3e50;
$text-white: #e8e8e8;
$text-light: #8d847f;
$bg-color: transparent;
$primary-accent: #8b8f99; 
$text-muted: rgb(196, 115, 10);;
$card-bg: #ffffff;